.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

.vscode/

*.log
# Terraform working directory
.terraform/

# Terraform state
*.tfstate
*.tfstate.*

# Terraform plans
*.tfplan
.tfplan

# Crash logs
crash.log

# Variable files containing secrets (optional)
*.auto.tfvars

dev.tfvars